@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}

a:link{
	color: #33F;
}

a:visited{
	color: #C00;
}
.homePage {
	background: #000;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #993399;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FFFFFF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #CC66FF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
a:visited{
	color: #000;
}
.footer {
	background: #0033CC;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}